<body>
    <h1 style="text-align:center; color:rgb(240, 234, 234)">Education...</h1>
    <div class=" container ">
        <div class="row ">
            <div class="col-md-4 ">
                <div class="blog-card blog-card-blog ">
                    <div class="blog-card-image ">
                        <a href="# "> <img class="img " src="\assets\JRC.jpg "> </a>
                        <div class="ripple-cont "></div>
                    </div>
                    <div class="blog-table ">
                        <h6 class="blog-category blog-text-success "><i class="far fa-newspaper "></i></h6>
                        <h4 class="blog-card-caption ">
                            <a href="# ">JRC HR Secondary School,Kothayam</a>
                        </h4>
                        <p class="blog-card-description "> I have completed SSLC with
                            <B>96.4%</B>in the academic year 2015-2016 </p>
                        <div class="ftr ">
                            <div class="author ">
                                <!-- <a href="# "> <img src="https://picsum.photos/id/1005/5760/3840 " alt="... " class="avatar img-raised "> <span></span> </a> -->
                            </div>
                            <!-- <div class="stats "> <i class="far fa-clock "></i> 10 min </div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 ">
                <div class="blog-card blog-card-blog ">
                    <div class="blog-card-image ">
                        <a href="# "> <img class="img " src="\assets\aams1.jpg "> </a>
                        <div class="ripple-cont "></div>
                    </div>
                    <div class="blog-table ">
                        <h6 class="blog-category blog-text-success "><i class="far fa-newspaper "></i></h6>
                        <h4 class="blog-card-caption ">
                            <a href="# ">Akshaya Academy Matriculation School,Kosavapatty</a>
                        </h4>
                        <p class="blog-card-description ">I have completed HSC in AAMS with
                            <B>94.25%</B> in the academic year 2017-2018</p>
                        <div class="ftr ">
                            <div class="author ">
                                <!-- <a href="# "> <img src="https://picsum.photos/id/1005/5760/3840 " alt="... " class="avatar img-raised "> <span>Lorem</span> </a> -->
                            </div>
                            <!-- <div class="stats "> <i class="far fa-clock "></i> 10 min </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="blog-card blog-card-blog ">
                    <div class="blog-card-image ">
                        <a href="# "> <img class="img " src="\assets\MIT.jpg "> </a>
                        <div class="ripple-cont "></div>
                    </div>
                    <div class="blog-table ">
                        <h6 class="blog-category blog-text-success "><i class="far fa-newspaper "></i></h6>
                        <h4 class="blog-card-caption ">
                            <a href="# ">Madras Institute of Technology,Chrompet</a>
                        </h4>
                        <p class="blog-card-description ">I have Completed Bachelor degree under the domain
                            <B>Electronics and Communication Engineering</B> with CGPA of 7.8 during the period 2018-2022. </p>

                        <div class="ftr ">
                            <div class="author ">
                                <!-- <a href="# "> <img src="https://picsum.photos/id/1005/5760/3840 " alt="... " class="avatar img-raised "> <span>Lorem</span> </a> -->
                            </div>
                            <!-- <div class="stats "> <i class="far fa-clock "></i> 10 min </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>