.gradient-custom-2 {
    /* fallback for old browsers
  background: #ece8e3;*/
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

#about1 {
    font-size: large;
    border-radius: 3px;
}

#about {
    height: 50%;
}

section {
    background: linear-gradient(rgba(119, 151, 31, 0.26), rgba(0, 0, 0, .6));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    width: 100%;
    height: 100vh;
    background-image: url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/blogs/2147490846/images/oldpa16VSBegooJvBXoS_file.jpg");
}