<section id="proj">

    <div class="container">
        <h1 style="text-align:center; color:rgb(240, 234, 234)">My works...</h1>
        <div class="row">
            <div class="col-md-3  col-pl-2 col-mt-5 col-mr-5" id="cardlength">
                <div class="card" id="clr">
                    <div class="card-header">
                        <img src="https://media.istockphoto.com/id/1058712430/ja/%E3%83%99%E3%82%AF%E3%82%BF%E3%83%BC/%E7%89%A9%E4%BA%8B%E3%81%AE%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8D%E3%83%83%E3%83%88%E3%81%AE%E6%A6%82%E5%BF%B5%E3%82%92%E8%A1%A8%E3%81%99%E3%82%B7%E3%83%B3%E3%83%97%E3%83%AB%E3%81%AA%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E3%82%AE%E3%82%A2%E8%A8%AD%E5%AE%9A%E3%81%8A%E3%82%88%E3%81%B3%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AFiot%E6%A5%AD%E7%95%8C-4-05-g.jpg?s=612x612&w=0&k=20&c=FRTabXWScqXo-eDM0P81dsjLbp4oDXXMyrOh6x3PaW8="
                            atl="logo" style="width: 15%; border-radius: 6px; height: 15%;">
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight: bold; font-size: 25px;">Hospital Management Application
                            </h3>
                            <p class="card-text" style="font-size: 21px;">
                                This application manages hospital records , admissions, discharges , doctor records and patient records. Track back the records of patients diagnosis and user friendly.It has three sections Admin , Doctor, Patient section.
                            </p>
                            <a href=" https://github.com/bala-11/RLL-Hospital" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-3  col-pl-2 col-mt-5 col-mr-5" id="cardlength">
                <div class="card" id="clr">
                    <div class="card-header">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Aadhaar_Logo.svg/1200px-Aadhaar_Logo.svg.png" alt="logo" style="width: 20%;">
                        <div class="card-body">
                            <h3 class="card-title">mAadhar Application</h3>
                            <p class="card-text" style="font-size: 19px;">
                                An online application for the process of applying an Aadhar Card by making it smoother for Indian citizens which has two major divisions for admin and citizen logins .This Application is created to register citizens and let the administrative authorities
                                to display their details to process their Aadhar Card application.


                            </p>
                            <a href="https://github.com/bala-11/capstone-mAadhar" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3  col-pl-2 col-mt-5 col-mr-5" id="cardlength">
                <div class="card" id="clr">
                    <div class="card-header">
                        <img src="https://media.istockphoto.com/id/1275720974/vector/blue-and-green-medical-cross-health.jpg?s=612x612&w=0&k=20&c=j322qhLcySdh7qhtlTnUf_EUzlQG2i9bnoJ3vHdJ81I=" alt="logo" style="width:20%">
                        <div class="card-body">
                            <h3 class="card-title">FlyAway Application</h3>
                            <p class="card-text" style="font-size: 23px;">
                                An online health care web application with rich and user-friendly interface for ordering medicines of various categories of people. One can order any medicine irrespective of place and time

                            </p>
                            <a href="https://github.com/bala-11/FlyAway" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>