<body>
    <div class="card">
        <div class="img">
            <img src="\assets\Balaji.jpeg">
        </div>
        <div class="infos">
            <!-- <div class="name">
                <h2>Balaji Kalimuthu</h2>
                <h4>@balajik_11</h4>
            </div> -->
            <p class="text">
                Hi... I am Balaji.<br>I am a Full Stack Java Developer ,currently Working at Mphasis Limited. I have successfully completed training and worked on various projects utilizing both frontend and backend technologies.<br>Willing to expand
                my skillset and gain knowledge about new technologies</p>

            <div class="links">
                <button class="view" routerLink="/contact">Hire me</button>
                <button class="follow"><a href="\assets\2529316_Balaji.kalimuthu_Resume 2.0.pdf">Download CV</a></button>

            </div>
        </div>
    </div>
</body>
