<body>
    <div class="container d-flex justify-content-center">
        <div class="card rounded">
            <div class=" d-block justify-content-center">
                <div class="area1 p-3 py-5"> </div>
                <div class="area2 p- text-center px-3">
                    <div class="image mr-3"> <img src="\assets\Balaji.jpeg" class="rounded-circle" width="100" />
                        <h4 class=" name mt-3 ">Balaji K</h4>
                        <p class="information mt-3 text-justify">Full Stack Dev</p>
                        <div class="d-flex justify-content-center mt-5">
                            <P>“ In order to be irreplaceable, one must always be different” – Coco Chanel.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>